@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

/* Tailwind 기본 스타일과 플러그인에 의해 등록된 모든 기본 스타일을 주입합니다. */
@tailwind base;

/* Tailwind 컴포넌트 클래스와 플러그인에 의해 등록된 컴포넌트 클래스를 주입합니다. */
@tailwind components;

/* Tailwind 유틸리티 클래스와 플러그인에 의해 등록된 모든 유틸리티 클래스를 주입합니다. */
@tailwind utilities;

/* 사용자 정의 스타일 */
@layer base {
  @font-face {
    font-family: "Migra";
    font-weight: 800;
    src: local("Migra"),
      url("/fonts/Migra/Migra-Extrabold.woff2") format("woff2"),
      url("/fonts/Migra/Migra-Extrabold.woff") format("woff"),
      url("/fonts/Migra/Migra-Extrabold.eot") format("opentype");
  }
}
.line {
  @apply text-center text-8xl font-migra;
}

.marquee__box {
  @apply w-[100%] overflow-hidden whitespace-nowrap;
}

@keyframes marquee {
  to {
    transform: translateX(100%);
  }
  from {
    transform: translateX(-100%);
  }
}

.marquee__item {
  @apply animation: marquee 150s linear infinite;
}

.marquee__item > li {
  @apply inline-block font-spaceGrotesk text-[3.375em] text-gray after:mx-8 after:content-starIcon;
}
